.header {
 
    color: black;
    padding:10px;
    display: flex;  /* components comes side-by side*/
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img {
    max-width: 300%;
    height: auto;
  }
.nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;  /* to remove dots in list */
}
.nav-items > ul >li{
    padding: 10px;
     margin: 10px;
}
.logo {
    width: 50px; /* Adjust the size as needed */
    height: auto;
}
.res-card{
    position: relative;
    display: block;
    margin: 5px;
    padding:5px;
    width: 250px;
    border-radius: 16px;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
    overflow:hidden;
    word-break: break-word
    
}
.res-card .cuisine-list{
    align-items: center;
    margin-top: 2px;
    gap: 2px
}
.res-card:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.res-container{
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}
.res-logo{
    width: 100%;
    object-fit: cover;
    border-style: none;
    border-radius: 16px;
}
.search {
    flex-grow: 1;
    margin: 10 20px; /* Add margin for spacing */
    padding: 12px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
}

#userImage {
    width: 40px; /* Adjust the size as needed */
    height: auto;
    border-radius: 50%; /* Make it circular */
}


.res-body {
    background: rgb(255, 255, 255);
    overflow: hidden;
}
.res-body .title{
    margin: 0px;
    font-family: "Basis Grotesque Pro";
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.92);
    overflow: hidden;
    width: 100%;
    overflow-wrap: break-word;
   
}
.filter{
    display: flex;
}
.filter-btn{
    margin: 16px;
    cursor: pointer;
}
.shimmer-card{
    height: 350px;
    width:250px;
    background-color: lightgrey;
    margin: 10px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.login{
    cursor: pointer;
    padding: 0px 20px;
    color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}
.login:hover {
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
  }
  .login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-form {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .field_errors {
    color: red;
  }
  .login-submit {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-submit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .user-card{
    padding: 10px;
    border: 1px solid black;
  }